<body>
    <app-navbar></app-navbar>
    <header>
        <div class="row align-items-center">
            <div class="col-6 first-part" >
            <h1 class="title">Qui Sommes-Nous? notre<br>mission, nos partenaires...Tout<br><span class="marque">À propos Discover IT.</span></h1>

            </div>
            <div class="col-4 ">
                <img src="./../../assets/images/Group 180.png" class="img-top">
                <img src="./../../assets/images/pos5.png" class="img-anim1">
                <img src="./../../assets/images/pos2.png" class="img-anim2">
                <img src="./../../assets/images/pos4.png" class="img-anim3">
            </div>
            <img src="./../../assets/images/arrow-event.png" class="arrow-event"/>  
          </div>
    </header>
    <div class="box-nbr">
      <div class="tnbr">
        <h2 class="nbr1">+</h2>
        <h5 class="sous-nbr">Membres</h5>
      </div>
      <div class="tnbr">
        <h2 class="nbr2">+</h2>
        <h5 class="sous-nbr">Événements</h5>
      </div>
      <div class="tnbr">
        <h2 class="nbr3">+</h2>
        <h5 class="sous-nbr">Partenaires</h5>
      </div>
    </div>

    <div class="row d-flex part2">
        <div class="col-5">
             <h2 style="font-size: 30px;">Qui sommes-nous?</h2>
             <p class="parag">Discover IT est une plateforme innovante dédiée à fournir les dernières actualités et événements dans le domaine de la technologie en Tunisie. Notre mission est de créer un espace dynamique où les membres de notre communauté peuvent partager leurs connaissances, publier des actualités pertinentes et réserver des événements. Nous croyons fermement en l'importance de la collaboration et de l'échange d'idées, c'est pourquoi nous offrons également un forum de discussion où les membres peuvent interagir, poser des questions et partager leurs expériences. </p>
        </div>
        <div class="col-4 ">
               <img src="./../../assets/images/Group 217.png" class="img-part2">
        </div>

    </div>
    <h2 class="titre3">Les membres les plus actifs</h2>
    <div class="membres">
        <!-- member 1 -->
          <div class="box-member">
                 <img src="./../../assets/images/Ellipse 41.png" class="pdp">
                 <h3 class="pseudo">Pseudo</h3>
                 <div class="d-flex justify-content-between hsebet">
                    <div class="member-info">
                        <h2 class="member-num">17</h2>
                        <h5 class="sous-member">publications</h5>
                      </div>
                      <img src="./../../assets/images/Vector 28.png" class="ligne-verticale">
                      <div class="member-info">
                        <h2 class="member-num">203</h2>
                        <h5 class="sous-member">abonnés</h5>
                      </div>
                      <img src="./../../assets/images/Vector 28.png" class="ligne-verticale">
                      <div class="member-info">
                        <h2 class="member-num">124</h2>
                        <h5 class="sous-member">suivi(e)s</h5>
                      </div>
                 </div>
                 <button class="btn-suivre">Suivre </button>
          </div>
   <!-- member 2 -->
          <div class="box-member">
            <img src="./../../assets/images/Ellipse 42.png" class="pdp">
            <h3 class="pseudo">Pseudo</h3>
            <div class="d-flex justify-content-between hsebet">
               <div class="member-info">
                   <h2 class="member-num">12</h2>
                   <h5 class="sous-member">publications</h5>
                 </div>
                 <img src="./../../assets/images/Vector 28.png" class="ligne-verticale">
                 <div class="member-info">
                   <h2 class="member-num">124</h2>
                   <h5 class="sous-member">abonnés</h5>
                 </div>
                 <img src="./../../assets/images/Vector 28.png" class="ligne-verticale">
                 <div class="member-info">
                   <h2 class="member-num">117</h2>
                   <h5 class="sous-member">suivi(e)s</h5>
                 </div>
            </div>
            <button class="btn-suivre">Suivre </button>
     </div>
   <!-- member 3 -->
     <div class="box-member">
        <img src="./../../assets/images/Ellipse 43.png" class="pdp">
        <h3 class="pseudo">Pseudo</h3>
        <div class="d-flex justify-content-between hsebet">
           <div class="member-info">
               <h2 class="member-num">23</h2>
               <h5 class="sous-member">publications</h5>
             </div>
             <img src="./../../assets/images/Vector 28.png" class="ligne-verticale">
             <div class="member-info">
               <h2 class="member-num">302</h2>
               <h5 class="sous-member">abonnés</h5>
             </div>
             <img src="./../../assets/images/Vector 28.png" class="ligne-verticale">
             <div class="member-info">
               <h2 class="member-num">156</h2>
               <h5 class="sous-member">suivi(e)s</h5>
             </div>
        </div>
        <button class="btn-suivre">Suivre </button>
 </div>
          
    </div>

    <h2 class="titre4">nos partenaires</h2>
    <div class="img-partenaires">
        <img src="../../assets/images/partenaire1.png" class="img-part-item" >
        <img src="../../assets/images/partenaire2.png" class="img-part-item">
        <img src="../../assets/images/partenaire3.png" class="img-part-item">
        <img src="../../assets/images/partenaire4.png" class="img-part-item">
        <img src="../../assets/images/partenaire5.png" class="img-part-item">
       </div>
    <app-footer></app-footer>
</body>

