<body>
    <app-nav-visiteur></app-nav-visiteur>
     <header>
        <div class="row align-items-center">
            <div class="col-6 first-part" >
            <h1 class="title">Ne Ratez aucune information! <br>Restez à jour avec les<br>dernières <span class="marque">actualités.</span></h1>

            </div>
            <div class="col-4 ">
                <img src="./../../assets/images/Group 151.png" class="img-top">
                <img src="./../../assets/images/pos5.png" class="img-anim1">
                <img src="./../../assets/images/pos2.png" class="img-anim2">
                <img src="./../../assets/images/pos4.png" class="img-anim3">
            </div>
            <img src="./../../assets/images/arrow-event.png" class="arrow-event"/>  
          </div>
    </header>
    <br><br>
    <div class="categ-btn">
        <button class="btn btn-clicked bbtn" (click)="actutous()">Tout</button>&nbsp;
        <button class="btn btn-options bbtn" (click)="actuBigdata()">Big Data </button>&nbsp;
        <button class="btn btn-options bbtn" (click)="actusecurite()">Sécurité</button>&nbsp;
        <button class="btn btn-options bbtn" (click)="actudev()">Developement</button>&nbsp;
        <button class="btn btn-options bbtn" (click)="actuai()">AI</button>&nbsp;
        <button class="btn btn-options bbtn" (click)="actutechweb()">Technologie Web</button>&nbsp;
        <button class="btn btn-options bbtn" (click)="actuecommerce()">E-commerce</button>&nbsp;
    </div>
    <br>
<!-- ligne 1 -->
    <div class="card-grp" >
      <div *ngFor="let post of posts">
            <!-- card1 -->
     <div class="card "   *ngIf="post.id==1">
         <div class="part1-card">
             <div class="profile-part">
                 <div class="profile">
                 <img src="./../../../assets/images/icon-profile.png" class="pdp">
             </div>
             <div class="name-pseudo">
                 <h5 class="card-title">Pseudo</h5>
             </div>
             </div>
             <div class="suivre">
              <button type="button" class="btn btn-link btn-suivre" >Suivre</button>
             </div>
         </div>
         <img class="card-img-top" src="./../../../assets/images/Rectangle 13.png" alt="Card image cap img-card">
         <div class="card-body" >   
         <div class="part2-card" >
           <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
         </div>
           <h5 class="title-desc">{{post.title}}</h5>
           <p class="card-text">{{post.mini_body}}</p>
           <div class="btns">
           <button class="btn voirplus-btn">Voir Plus</button>
           <div class="react d-flex">
            <span class="btn-like" (click)="toggleLike1()"><i [class]="likeIconClass1"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
           <div class="dropdown">
            <i class="fa-regular fa-share-from-square btn-share"></i>
            <ul class="dropdown-content">
              <div>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                    <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                    <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
              </div>
            </ul>
          </div>
         </div>
         </div>
         </div>
     </div>
            <!-- card2 -->
            <div class="card"   *ngIf="post.id==4">
              <div class="part1-card">
                  <div class="profile-part">
                      <div class="profile">
                      <img src="./../../../assets/images/icon-profile.png" class="pdp">
                  </div>
                  <div class="name-pseudo">
                      <h5 class="card-title">Pseudo</h5>
                  </div>
                  </div>
                  <div class="suivre">
                    <button type="button" class="btn btn-link btn-suivre" >Suivre</button>
                  </div>
              </div>
              <img class="card-img-top" src="./../../../assets/images/Rectangle 23.png" alt="Card image cap img-card">
              <div class="card-body" >   
              <div class="part2-card" >
                <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
              </div>
                <h5 class="title-desc">{{post.title}}</h5>
                <p class="card-text">{{post.mini_body}}</p>
                <div class="btns">
                <button class="btn voirplus-btn" >Voir Plus</button>
                <div class="react d-flex">
                  <span class="btn-like" (click)="toggleLike2()"><i [class]="likeIconClass2"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                 <div class="dropdown">
                  <i class="fa-regular fa-share-from-square btn-share"></i>
                  <ul class="dropdown-content">
                    <div>
                      <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                          <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                          <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                          <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                    </div>
                  </ul>
                </div>
               </div>
              </div>
              </div>
          </div>
           <!-- card3 -->
           <div class="card"   *ngIf="post.id==3">
            <div class="part1-card">
                <div class="profile-part">
                    <div class="profile">
                    <img src="./../../../assets/images/icon-profile.png" class="pdp">
                </div>
                <div class="name-pseudo">
                    <h5 class="card-title">Pseudo</h5>
                </div>
                </div>
                <div class="suivre">
                  <button type="button" class="btn btn-link btn-suivre" >Suivre</button>
                </div>
            </div>
            <img class="card-img-top" src="./../../../assets/images/Rectangle 25.png" alt="Card image cap img-card">
            <div class="card-body" >   
            <div class="part2-card" >
              <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
            </div>
              <h5 class="title-desc">{{post.title}}</h5>
              <p class="card-text">{{post.mini_body}}</p>
              <div class="btns">
              <button class="btn voirplus-btn" >Voir Plus</button>
              <div class="react d-flex">
                <span class="btn-like" (click)="toggleLike3()"><i [class]="likeIconClass3"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;

               <div class="dropdown">
                <i class="fa-regular fa-share-from-square btn-share"></i>
                <ul class="dropdown-content">
                  <div>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                        <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                        <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                  </div>
                </ul>
              </div>
             </div>
            </div>
            </div>
        </div>
      </div>
  </div>
  <!-- ligne 2 -->
  <div class="card-grp" >
    <div *ngFor="let post of posts">
          <!-- card1 -->
   <div class="card "   *ngIf="post.id==10">
       <div class="part1-card">
           <div class="profile-part">
               <div class="profile">
               <img src="./../../../assets/images/icon-profile.png" class="pdp">
           </div>
           <div class="name-pseudo">
               <h5 class="card-title">Pseudo</h5>
           </div>
           </div>
           <div class="suivre">
            <button type="button" class="btn btn-link btn-suivre" >Suivre</button>
           </div>
       </div>
       <img class="card-img-top" src="./../../../assets/images/Rectangle 13.png" alt="Card image cap img-card">
       <div class="card-body" >   
       <div class="part2-card" >
         <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
       </div>
         <h5 class="title-desc">{{post.title}}</h5>
         <p class="card-text">{{post.mini_body}}</p>
         <div class="btns">
         <button class="btn voirplus-btn">Voir Plus</button>
         <div class="react d-flex">
          <span class="btn-like" (click)="toggleLike1()"><i [class]="likeIconClass1"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
         <div class="dropdown">
          <i class="fa-regular fa-share-from-square btn-share"></i>
          <ul class="dropdown-content">
            <div>
              <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                  <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                  <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                  <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
            </div>
          </ul>
        </div>
       </div>
       </div>
       </div>
   </div>
          <!-- card2 -->
          <div class="card"   *ngIf="post.id==11">
            <div class="part1-card">
                <div class="profile-part">
                    <div class="profile">
                    <img src="./../../../assets/images/icon-profile.png" class="pdp">
                </div>
                <div class="name-pseudo">
                    <h5 class="card-title">Pseudo</h5>
                </div>
                </div>
                <div class="suivre">
                  <button type="button" class="btn btn-link btn-suivre" >Suivre</button>
                </div>
            </div>
            <img class="card-img-top" src="./../../../assets/images/Rectangle 23.png" alt="Card image cap img-card">
            <div class="card-body" >   
            <div class="part2-card" >
              <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
            </div>
              <h5 class="title-desc">{{post.title}}</h5>
              <p class="card-text">{{post.mini_body}}</p>
              <div class="btns">
              <button class="btn voirplus-btn" >Voir Plus</button>
              <div class="react d-flex">
                <span class="btn-like" (click)="toggleLike2()"><i [class]="likeIconClass2"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
               <div class="dropdown">
                <i class="fa-regular fa-share-from-square btn-share"></i>
                <ul class="dropdown-content">
                  <div>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                        <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                        <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                  </div>
                </ul>
              </div>
             </div>
            </div>
            </div>
        </div>
         <!-- card3 -->
         <div class="card"   *ngIf="post.id==12">
          <div class="part1-card">
              <div class="profile-part">
                  <div class="profile">
                  <img src="./../../../assets/images/icon-profile.png" class="pdp">
              </div>
              <div class="name-pseudo">
                  <h5 class="card-title">Pseudo</h5>
              </div>
              </div>
              <div class="suivre">
                <button type="button" class="btn btn-link btn-suivre" >Suivre</button>
              </div>
          </div>
          <img class="card-img-top" src="./../../../assets/images/Rectangle 25.png" alt="Card image cap img-card">
          <div class="card-body" >   
          <div class="part2-card" >
            <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
          </div>
            <h5 class="title-desc">{{post.title}}</h5>
            <p class="card-text">{{post.mini_body}}</p>
            <div class="btns">
            <button class="btn voirplus-btn" >Voir Plus</button>
            <div class="react d-flex">
              <span class="btn-like" (click)="toggleLike3()"><i [class]="likeIconClass3"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="dropdown">
              <i class="fa-regular fa-share-from-square btn-share"></i>
              <ul class="dropdown-content">
                <div>
                  <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                      <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                      <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                      <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                </div>
              </ul>
            </div>
           </div>
          </div>
          </div>
      </div>
    </div>
</div>
<!-- ligne 3 -->
<div class="card-grp" >
  <div *ngFor="let post of posts">
        <!-- card1 -->
 <div class="card "   *ngIf="post.id==13">
     <div class="part1-card">
         <div class="profile-part">
             <div class="profile">
             <img src="./../../../assets/images/icon-profile.png" class="pdp">
         </div>
         <div class="name-pseudo">
             <h5 class="card-title">Pseudo</h5>
         </div>
         </div>
         <div class="suivre">
          <button type="button" class="btn btn-link btn-suivre" >Suivre</button>
         </div>
     </div>
     <img class="card-img-top" src="./../../../assets/images/Rectangle 13.png" alt="Card image cap img-card">
     <div class="card-body" >   
     <div class="part2-card" >
       <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
     </div>
       <h5 class="title-desc">{{post.title}}</h5>
       <p class="card-text">{{post.mini_body}}</p>
       <div class="btns">
       <button class="btn voirplus-btn">Voir Plus</button>
       <div class="react d-flex">
        <span class="btn-like" (click)="toggleLike1()"><i [class]="likeIconClass1"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
       <div class="dropdown">
        <i class="fa-regular fa-share-from-square btn-share"></i>
        <ul class="dropdown-content">
          <div>
            <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
          </div>
        </ul>
      </div>
     </div>
     </div>
     </div>
 </div>
        <!-- card2 -->
        <div class="card"   *ngIf="post.id==14">
          <div class="part1-card">
              <div class="profile-part">
                  <div class="profile">
                  <img src="./../../../assets/images/icon-profile.png" class="pdp">
              </div>
              <div class="name-pseudo">
                  <h5 class="card-title">Pseudo</h5>
              </div>
              </div>
              <div class="suivre">
                <button type="button" class="btn btn-link btn-suivre" >Suivre</button>
              </div>
          </div>
          <img class="card-img-top" src="./../../../assets/images/Rectangle 23.png" alt="Card image cap img-card">
          <div class="card-body" >   
          <div class="part2-card" >
            <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
          </div>
            <h5 class="title-desc">{{post.title}}</h5>
            <p class="card-text">{{post.mini_body}}</p>
            <div class="btns">
            <button class="btn voirplus-btn" >Voir Plus</button>
            <div class="react d-flex">
              <span class="btn-like" (click)="toggleLike2()"><i [class]="likeIconClass2"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="dropdown">
              <i class="fa-regular fa-share-from-square btn-share"></i>
              <ul class="dropdown-content">
                <div>
                  <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                      <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                      <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                      <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                </div>
              </ul>
            </div>
           </div>
          </div>
          </div>
      </div>
       <!-- card3 -->
       <div class="card"   *ngIf="post.id==15">
        <div class="part1-card">
            <div class="profile-part">
                <div class="profile">
                <img src="./../../../assets/images/icon-profile.png" class="pdp">
            </div>
            <div class="name-pseudo">
                <h5 class="card-title">Pseudo</h5>
            </div>
            </div>
            <div class="suivre">
              <button type="button" class="btn btn-link btn-suivre" >Suivre</button>
            </div>
        </div>
        <img class="card-img-top" src="./../../../assets/images/Rectangle 25.png" alt="Card image cap img-card">
        <div class="card-body" >   
        <div class="part2-card" >
          <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
        </div>
          <h5 class="title-desc">{{post.title}}</h5>
          <p class="card-text">{{post.mini_body}}</p>
          <div class="btns">
          <button class="btn voirplus-btn" >Voir Plus</button>
          <div class="react d-flex">
            <span class="btn-like" (click)="toggleLike3()"><i [class]="likeIconClass3"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
           <div class="dropdown">
            <i class="fa-regular fa-share-from-square btn-share"></i>
            <ul class="dropdown-content">
              <div>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                    <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                    <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
              </div>
            </ul>
          </div>
         </div>
        </div>
        </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="V_actu">Previous</a></li>
    <li class="page-item "><a class="page-link " href="V_actu"  >1</a></li>
    <li class="page-item active"><a class="page-link" href="V_actu2">2</a></li>
    <li class="page-item"><a class="page-link" href="V_actu2">Next</a></li>
  </ul>
</nav>
  <app-footer-visiteur></app-footer-visiteur>
 </body>