/* hr{
    width: 1136px;;

} */
.copyright{
    margin-top: 50px;
    margin-left: 540px;
    /* margin-left: 1000px; */
    font-size: 14px;
    color: #B4B4B4;
}

h6{
    text-decoration: underline 2px;
}
footer{
    margin-left: 150px;
}
section{
    margin-left: 10px;
}
.icon-rs{
 width: 40px;
}
.icon-info{
    width: 25px;
}
.logo{
    width: 155px;
    height: auto;
    position: absolute;
    margin-top: -15px;
}
