<body>
   <app-navbar></app-navbar>
   <div class="pagetitle d-flex justify-content-between  ">
         
    <div class="d-flex ">
  <img src="./../../assets/images/Ellipse 39.png" class="pdp2">
  <div class="div-P1">
  <h1 style="font-size: 20px;">Aminos</h1> 
  <span>6 publications</span>&nbsp;&nbsp; <span>67 abonnés</span>&nbsp;&nbsp; <span>106 suivi(e)s</span>
</div>
</div>
<div>
<button class="btn-add" [(ngModel)]="buttonText1" (click)="onClick1()">{{ buttonText1 }}</button>
</div>
</div>
<!-- <hr> -->
<div class="card-grp" >
    <div *ngFor="let post of posts">
          <!-- card1 -->
   <div class="card "   *ngIf="post.id==1">
       <div class="part1-card">
           <div class="profile-part">
               <div class="profile">
               <img src="./../../../assets/images/Ellipse 39.png" class="pdp">
           </div>
           <div class="name-pseudo">
               <h5 class="card-title">Aminos</h5>
           </div>
           </div>
           <div class="suivre">
           
           </div>
       </div>
       <img class="card-img-top" src="./../../../assets/images/Rectangle 230.png" alt="Card image cap img-card">
       <div class="card-body" >   
       <div class="part2-card" >
         <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
       </div>
         <h5 class="title-desc">{{post.title}}</h5>
         <p class="card-text">{{post.mini_body}}</p>
         <div class="btns">
         <button class="btn voirplus-btn">Voir Plus</button>
         <div class="react d-flex">
          <div>
            <span class="btn-like mb-4" (click)="toggleLike1()">
              <i [class]="likeIconClass1"></i>
            </span><br>
            <span class="nbr-react2">{{ likeCount1 }}</span>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
         <div class="dropdown">
          <i class="fa-regular fa-share-from-square btn-share"></i>
          <ul class="dropdown-content">
            <div>
              <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                  <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                  <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                  <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
            </div>
          </ul>
        </div>
       </div>
       </div>
       </div>
   </div>
          <!-- card2 -->
          <div class="card"   *ngIf="post.id==13">
            <div class="part1-card">
                <div class="profile-part">
                    <div class="profile">
                    <img src="./../../../assets/images/Ellipse 39.png" class="pdp">
                </div>
                <div class="name-pseudo">
                    <h5 class="card-title">Aminos</h5>
                </div>
                </div>
                <div class="suivre">
                  
                </div>
            </div>
            <img class="card-img-top" src="./../../../assets/images/Rectangle 25.png" alt="Card image cap img-card">
            <div class="card-body" >   
            <div class="part2-card" >
              <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
            </div>
              <h5 class="title-desc">{{post.title}}</h5>
              <p class="card-text">{{post.mini_body}}</p>
              <div class="btns">
              <button class="btn voirplus-btn" >Voir Plus</button>
              <div class="react d-flex">
                <div>
                  <span class="btn-like mb-4" (click)="toggleLike2()">
                    <i [class]="likeIconClass2"></i>
                  </span><br>
                  <span class="nbr-react2">{{ likeCount2 }}</span>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;
               <div class="dropdown">
                <i class="fa-regular fa-share-from-square btn-share"></i>
                <ul class="dropdown-content">
                  <div>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                        <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                        <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                  </div>
                </ul>
              </div>
             </div>
            </div>
            </div>
        </div>
         <!-- card3 -->
         <div class="card"   *ngIf="post.id==15">
          <div class="part1-card">
              <div class="profile-part">
                  <div class="profile">
                  <img src="./../../../assets/images/Ellipse 39.png" class="pdp">
              </div>
              <div class="name-pseudo">
                  <h5 class="card-title">Aminos</h5>
              </div>
              </div>
              <div class="suivre">
                
              </div>
          </div>
          <img class="card-img-top" src="./../../../assets/images/Rectangle 232.png" alt="Card image cap img-card">
          <div class="card-body" >   
          <div class="part2-card" >
            <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
          </div>
            <h5 class="title-desc">{{post.title}}</h5>
            <p class="card-text">{{post.mini_body}}</p>
            <div class="btns">
            <button class="btn voirplus-btn" >Voir Plus</button>
            <div class="react d-flex">
              <div>
                <span class="btn-like mb-4" (click)="toggleLike3()">
                  <i [class]="likeIconClass3"></i>
                </span><br>
                <span class="nbr-react2">{{ likeCount3 }}</span>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;
  
             <div class="dropdown">
              <i class="fa-regular fa-share-from-square btn-share"></i>
              <ul class="dropdown-content">
                <div>
                  <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                      <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                      <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                      <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                </div>
              </ul>
            </div>
           </div>
          </div>
          </div>
      </div>
    </div>
  </div>
  <!-- ligne 2 -->
  <div class="card-grp" >
  <div *ngFor="let post of posts">
        <!-- card1 -->
  <div class="card "   *ngIf="post.id==27">
     <div class="part1-card">
         <div class="profile-part">
             <div class="profile">
             <img src="./../../../assets/images/Ellipse 39.png" class="pdp">
         </div>
         <div class="name-pseudo">
             <h5 class="card-title">Aminos</h5>
         </div>
         </div>
         <div class="suivre">
         
         </div>
     </div>
     <img class="card-img-top" src="./../../../assets/images/Rectangle 231.png" alt="Card image cap img-card">
     <div class="card-body" >   
     <div class="part2-card" >
       <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
     </div>
       <h5 class="title-desc">{{post.title}}</h5>
       <p class="card-text">{{post.mini_body}}</p>
       <div class="btns">
       <button class="btn voirplus-btn">Voir Plus</button>
       <div class="react d-flex">
        <div>
          <span class="btn-like mb-4" (click)="toggleLike4()">
            <i [class]="likeIconClass4"></i>
          </span><br>
          <span class="nbr-react2">{{ likeCount4}}</span>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
       <div class="dropdown">
        <i class="fa-regular fa-share-from-square btn-share"></i>
        <ul class="dropdown-content">
          <div>
            <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
          </div>
        </ul>
      </div>
     </div>
     </div>
     </div>
  </div>
        <!-- card2 -->
        <div class="card"   *ngIf="post.id==32">
          <div class="part1-card">
              <div class="profile-part">
                  <div class="profile">
                  <img src="./../../../assets/images/Ellipse 39.png" class="pdp">
              </div>
              <div class="name-pseudo">
                  <h5 class="card-title">Aminos</h5>
              </div>
              </div>
              <div class="suivre">
               
              </div>
          </div>
          <img class="card-img-top" src="./../../../assets/images/Rectangle 227.png" alt="Card image cap img-card">
          <div class="card-body" >   
          <div class="part2-card" >
            <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
          </div>
            <h5 class="title-desc">{{post.title}}</h5>
            <p class="card-text">{{post.mini_body}}</p>
            <div class="btns">
            <button class="btn voirplus-btn" >Voir Plus</button>
            <div class="react d-flex">
              <div>
                <span class="btn-like mb-4" (click)="toggleLike5()">
                  <i [class]="likeIconClass5"></i>
                </span><br>
                <span class="nbr-react2">{{ likeCount5}}</span>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="dropdown">
              <i class="fa-regular fa-share-from-square btn-share"></i>
              <ul class="dropdown-content">
                <div>
                  <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                      <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                      <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                      <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                </div>
              </ul>
            </div>
           </div>
          </div>
          </div>
      </div>
       <!-- card3 -->
       <div class="card"   *ngIf="post.id==40">
        <div class="part1-card">
            <div class="profile-part">
                <div class="profile">
                <img src="./../../../assets/images/Ellipse 39.png" class="pdp">
            </div>
            <div class="name-pseudo">
                <h5 class="card-title">Aminos</h5>
            </div>
            </div>
            <div class="suivre">
              
            </div>
        </div>
        <img class="card-img-top" src="./../../../assets/images/Rectangle 25.png" alt="Card image cap img-card">
        <div class="card-body" >   
        <div class="part2-card" >
          <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
        </div>
          <h5 class="title-desc">{{post.title}}</h5>
          <p class="card-text">{{post.mini_body}}</p>
          <div class="btns">
          <button class="btn voirplus-btn" >Voir Plus</button>
          <div class="react d-flex">
            <div>
              <span class="btn-like mb-4" (click)="toggleLike6()">
                <i [class]="likeIconClass6"></i>
              </span><br>
              <span class="nbr-react2">{{ likeCount6}}</span>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
           <div class="dropdown">
            <i class="fa-regular fa-share-from-square btn-share"></i>
            <ul class="dropdown-content">
              <div>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                    <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                    <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
              </div>
            </ul>
          </div>
         </div>
        </div>
        </div>
    </div>
  </div>
  </div>
   <app-footer></app-footer> 
</body>