<body>
  <br><br>
    <div class="form-box">
          <!-- saisir le nom -->
          <div class="formu">
        <form >
              <label for="nom">Nom</label>
              <input type="text" id="nom" placeholder="  Entrer votre nom"  name="nom" [(ngModel)]="user.firstName" >
  
<!-- saisir le prenom -->

              <label for="prenom">Prenom</label>
              <input type="text" id="prenom" placeholder="  Entrer votre prenom" name="prenom" [(ngModel)]="user.lastName" >

<!-- saisir l'email -->
       
              <label for="email">Email</label>
              <input type="text" id="email" placeholder="  Entrer votre email"  name="email" [(ngModel)]="user.email" >

    <!-- saisir le mot de passe -->

              <label for="motDePasse">Mot de passe</label>
              <input type="password" id="motDePasse" placeholder="  Entrer votre mot de passe"  name="password" [(ngModel)]="user.password">


    <!-- choisir le pseudo -->
              <label for="pseudo">Pseudo</label>
              <input type="text" id="pseudo" placeholder="  Entrer votre pseudo" name="pseudo" [(ngModel)]="user.username">

              <label for="tel">Telephone</label>
              <input type="text" id="tel" placeholder="  Entrer votre numero de telephone" name="tel" [(ngModel)]="user.tel">


              <button type="submit" class="sumbmit-btn" (click)="confirmUpdate()" >Modifier</button>
              <a href="adminUser" class="btn btn-link retour-btn">Retour</a>
            </form>    
        </div>
      </div>
      <br><br>
      </body>

      <div class="modal fade" id="updateModal">
        <div class="modal-dialog m-3">
          <div class="modal-content">
            <div class="modal-header m-3">
              <h5 class="modal-title">Update Confirmation</h5>
            </div>
            <div class="modal-body m-2">
              <p>Êtes-vous certain de vouloir effectuer des modifications sur cet utilisateur ?</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary buttonModal" (click)="closeUpdate()">Non</button>
              <button class="btn btn-danger buttonModal" (click)="updateUser()">Oui</button>
            </div>
          </div>
        </div>
      </div>
