<nav class="navbar navbar-expand-lg navbar-dark">
  <a href=""><img src="./../../assets/images/logoD.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-center " id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="">Accueil</a>
        </li>&nbsp; &nbsp; &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="V_actu">Actualité</a>
        </li>&nbsp; &nbsp; &nbsp;
        <li class="nav-item">
          <div class="dropdown">
            <button class="dropdown-toggle" type="button">Événement</button>
            <div class="dropdown-menu">
              <a class="nav-option" href="V_event">Événement</a><br>
              <a class="nav-option" href="V_galerie">Galerie</a>
            </div>
          </div>
        </li>&nbsp; &nbsp; &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="V_aboutUs">À propos</a>
        </li>&nbsp; &nbsp; &nbsp;
          <li class="nav-item">
            <a class="nav-link" href="V_contact">Contact</a>
          </li>
      </ul>   
    </div>
    <div>
      
        &nbsp; &nbsp;
        <span (click)="gotoSignup()"><img src="./../../assets/images/icon-profile.png" alt="profil" class="icon-profile"></span>
    </div>
  </nav>
  <br>