nav{
  padding-left: 150px;
  padding-right: 150px;
  font-size: 18px;
  
}
.icon-profile{
width: 30px;
height: auto;
}

.icon-recherche{
  width: 20px;
  height: auto;
}
a{
position: relative;
}
.nav-link:after{
content: "";
position: absolute;
background-color: white;
height: 2px;
width: 0;
left: 0;
bottom: -10px;
transition: 0.3s;
}
.nav-link:hover{
color:#ffffff;
}
.nav-link:hover:after{
width: 100%;
}
.logo{
width: 140px;
height: auto;
margin-right: 10px;
}
.name-logo{
color: #AC8DF7;
}

.dropdown {
position: relative; /* Needed for proper positioning of the menu */
display: inline-block; /* Allow buttons to sit next to other content */

}

.dropdown-toggle {
cursor: pointer;
background: transparent;
color: #A4A4A4;
border: none;
margin-top: 7px;
font-size: 18px;
}

.dropdown-menu {
position: absolute; 
top: 100%; 
left: 10px; 
background-color: transparent;
min-width: 100%; 
display: none; 
padding: 15px 5px 5px 5px;
border: none;

}

.dropdown:hover .dropdown-menu {
display: block; 

}

.nav-option{
text-decoration: none;
color: #ffffff;
font-size: 18px;

}

.nav-option:hover{
text-decoration: none;
color: #AC8DF7;
}

