<body>
    <app-navbar></app-navbar>
    <header>
        <div class="row align-items-center">
            <div class="col-6 first-part" >
            <h1 class="title">Revivez les Moments Forts des <br>Événements Passés : Explorez<br>notre <span class="marque"> Galerie.</span>.</h1>

            </div>
            <div class="col-4 ">
              <img src="./../../assets/images/Group 2238.png" class="img-top">
              <img src="./../../assets/images/pos5.png" class="img-anim1">
              <img src="./../../assets/images/pos2.png" class="img-anim2">
              <img src="./../../assets/images/pos4.png" class="img-anim3">
          </div>
            <img src="./../../assets/images/arrow-event.png" class="arrow-event"/>  
          </div>
    </header>
<div class="box">
  <!-- ligne1 -->
  <div class="ligne">
        <img src="./../../assets/imgs/a.png" class="img-g">
        <img src="./../../assets/imgs/aa.png" class="img-g">
        <img src="./../../assets/imgs/aaa.png" class="img-g">
        <img src="./../../assets/imgs/aaaa.png" class="img-g">
  </div>
  
   <!-- ligne2 -->
  <div class="ligne">
    <img src="./../../assets/imgs/az.png" class="img-g">
    <img src="./../../assets/imgs/azz.png" class="img-g">
    <img src="./../../assets/imgs/azzz.png" class="img-g">
    <img src="./../../assets/imgs/azzzz.png" class="img-g">
  </div>

   <!-- ligne3 -->
   <div class="ligne">
    <img src="./../../assets/imgs/b.png" class="img-g">
    <img src="./../../assets/imgs/bb.png" class="img-g">
    <img src="./../../assets/imgs/bbb.png" class="img-g">
    <img src="./../../assets/imgs/bbbb.png" aclass="img-g">
   </div>
</div>
    
<app-footer></app-footer>
</body>