<body>
   <div class="box">
    <a href="signin"><i class="fa-solid fa-xmark back"></i></a>
    <img src="./../../assets/images/Group 145.png" class="icon-top">
    <img src="./../../assets/images/key (2).png" class="mefteh">
    <h2>Mot de passe oublié?</h2>
    <form class="formu">
    <p>Entrez l'adresse e-mail associée à votre compte et nous vous enverrons un lien pour réinitialiser le mot de passe.</p>
   <label for="email">Email</label><br>
   <input type="text" placeholder="Saisir votre email">
   <button class="sumbmit-btn">Continuer</button>
</form>
</div>
   <div class="tt"></div>
</body>