body {
    width: 100%;
    height: auto;
    background-image: url(./../../assets/img/Group200.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    color: white;
  }
  .box{
    width: 899px;
    height: 514px;
    background: #00264D;
    margin-top: 151px;
    margin-left: 270px;
    border-radius: 20px;
    position: absolute;
    text-align: center;
    padding: 30px;

  }
  .tt{
       width: 1440px;
       height: 1024px;
  }
  .icon-top{
    width: 110px;
    margin-bottom: 25px;
  }
  .mefteh{
    position: absolute;
    width: 50px;
    margin-top: 30px;
    margin-left: -82px;
  }
  h2{
    font-size: 22px;
  }
  p{
    font-size: 14px;
    color: #A4A4A4;
    text-align: center;
    width: 376px;
    margin-left: 230px;
  }
  .formu input[type="text"]{
    border: 0;
    background: white;
    display: block;
    margin: 15px auto;
    padding: 15px 15px 15px 12px;
    width: 406px;
    height: auto;
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 2px 2px rgba(70, 69, 69, 0.2);
  }
  label{
    margin-right: 345px;
    margin-top: 10px;
  }
  .sumbmit-btn {
    border: 0;
    background: #AC8DF7;
    color: white;
    display: block;
    padding: 15px 15px 15px 12px;
    width: 406px;
    border-radius: 10px;
    border: 2px solid #AC8DF7;
    box-shadow: 2px 2px 2px rgba(70, 69, 69, 0.2);
    margin-left: 216px;
  }
  .back{
    position: absolute;
    font-size: 20px;
    color: #A4A4A4;
    margin-top: -10px;
    margin-left: 454px;
  }