<body>
    <br><br>
    <h2 class="big_title">Ajout d'un Evenement</h2>
      <div class="form-box">
            <!-- saisir le titre -->
            <div class="formu">
          <form >
                <label for="title">Title</label>
                <input type="text" id="title" placeholder="  Entrer votre title"  name="title" [(ngModel)]="newEvent.title" >
  
                <!-- saisir le mini_body -->
  
    <label for="mini_body">mini_body</label>
    <input type="text" id="mini_body" placeholder="  Entrer votre mini_body" name="mini_body" [(ngModel)]="newEvent.mini_body" >
  <!-- saisir le body -->
  
                <label for="body">Body</label>
                <input type="text" id="body" placeholder="  Entrer votre body" name="body" [(ngModel)]="newEvent.body" >
  
  <!-- saisir le type -->
         
                <label for="type">Type</label>
                <input type="text" id="type" placeholder="  Entrer votre type"  name="type" [(ngModel)]="newEvent.type" >

   <!-- saisir le categorie -->
         
   <label for="categorie">categorie</label>
   <input type="text" id="categorie" placeholder="  Entrer votre categorie"  name="categorie" [(ngModel)]="newEvent.categorie" >

    <!-- saisir le lieu -->
         
    <label for="lieu">lieu</label>
    <input type="text" id="lieu" placeholder="  Entrer votre lieu"  name="lieu" [(ngModel)]="newEvent.lieu" >
 
        <!-- saisir le time -->
         
        <label for="time">time</label>
        <input type="text" id="time" placeholder="  Entrer votre time"  name="time" [(ngModel)]="newEvent.time" >
     
        <!-- saisir le capacite_max -->
         
        <label for="capacite_max">capacite_max</label>
        <input type="text" id="capacite_max" placeholder="  Entrer votre capacite_max"  name="capacite_max" [(ngModel)]="newEvent.capacite_max" >


        <!-- saisir le date_debut -->
        <label for="jour_debut">jour_debut</label>
        <input type="text" id="jour_debut" placeholder="  Entrer votre jour_debut"  name="jour_debut" [(ngModel)]="newEvent.jour_debut" > 
        <label for="mois_debut">mois_debut</label>
        <input type="text" id="mois_debut" placeholder="  Entrer votre mois_debut"  name="mois_debut" [(ngModel)]="newEvent.mois_debut" >
        <label for="annee_debut">annee_debut</label>
        <input type="text" id="annee_debut" placeholder="  Entrer votre annee_debut"  name="annee_debut" [(ngModel)]="newEvent.annee_debut" >
       
        <!-- saisir le date_fin -->
         
        <label for="date_fin">date_fin</label>
        <input type="text" id="date_fin" placeholder="  Entrer votre date_fin"  name="date_fin" [(ngModel)]="newEvent.date_fin" >
       
       <!-- saisir le prix -->
         
       <label for="prix">prix</label>
       <input type="text" id="prix" placeholder="  Entrer votre prix"  name="prix" [(ngModel)]="newEvent.prix" >
       
  <!-- saisir l'image -->

                <label for="imgpost">image du l'evenement</label><br>
                <input type="file" id="imgpost" name="imgpost" >

                <button type="submit" class="sumbmit-btn" (click)="createEvent()" >Ajouter</button>
                <a href="adminEvent" class="btn btn-link retour-btn">Retour</a>
              </form>    
          </div>
        </div>
        <br><br><br><br><br>
        </body>
  

  