<body>
    <app-navbar></app-navbar>
    <header>
        <div class="row align-items-center">
            <div class="col-6 first-part" >
            <h1 class="title">Ne Ratez aucune information! <br>Restez à jour avec les<br>dernières <span class="marque">actualités.</span></h1>

            </div>
            <div class="col-4 ">
                <img src="./../../assets/images/Group 151.png" class="img-top">
                <img src="./../../assets/images/pos5.png" class="img-anim1">
                <img src="./../../assets/images/pos2.png" class="img-anim2">
                <img src="./../../assets/images/pos4.png" class="img-anim3">
            </div>
            <img src="./../../assets/images/arrow-event.png" class="arrow-event"/>  
          </div>
    </header>
    <app-footer></app-footer>
</body>