<body>
    <app-navbar></app-navbar>
    <br><br>
      <div class="form-box">
          
            <div class="formu">
          <form>
            <h2 class="title-salon"  [(ngModel)]="event.type">:<span class="title-NameEvent">{{event.title}}</span> </h2>
            <br>
            <div class="d-flex ">
              <div>
                <p><i class="fa-regular fa-calendar icon-event"></i>{{event.jour_debut}}&nbsp;{{event.mois_debut}}&nbsp;{{event.annee_debut}}date</p>
                <p><i class="fa-regular fa-clock icon-event" ></i>{{event.time}}time</p>
              </div>
                  <br>
                <div>
                  <p><i class="fa-solid fa-location-dot icon-event"></i>{{event.lieu}}lieu</p>
                  <p><i class="fa-solid fa-location-dot icon-event"></i>{{event.prix}}money</p>
                </div>
          </div>
          <br>
            <h4 class="title">-Informations personnelles</h4>
<!-- saisir le nom -->
                <label for="nom">Nom<b style="color: #A60707;">*</b></label>
                <input type="text" id="nom" placeholder="  Entrer votre nom"  name="nom"  [(ngModel)]="currentUser.firstName">
 <!-- saisir le prenom -->
                <label for="prenom">Prenom<b style="color: #A60707;">*</b></label>
                <input type="text" id="prenom" placeholder="  Entrer votre prenom" name="prenom" [(ngModel)]="currentUser.lastName">
<!-- saisir l'email -->
                <label for="email">Email<b style="color: #A60707;">*</b></label>
                <input type="text" id="email" placeholder="  Entrer votre email"  name="email"  [(ngModel)]="currentUser.email">
<!-- saisir le telephone -->
                <label for="tel">Num de téléphone<b style="color: #A60707;">*</b></label>
                <input type="text" id="tel" placeholder="  Entrer votre numero de telephone"  name="test" 
                maxlength="8" [(ngModel)]="currentUser.tel">

                <h4 class="title">-Informations de réservation</h4>
                <label for="nbr-pkace">Nombre  de places:</label><input class="nbrPlace ms-3 " placeholder=""><br>
                <br>
                <h4 class="title">-Informations supplémentaires</h4>
                <label for="nbr-pkace">Commentaires supplémentaires</label><br>
                <textarea name="comments" id="comments" cols="55" rows="5" class="comments" placeholder="   Commentaires supplémentaires..."></textarea>
                <br>
                <h4 class="title">-Informations de paiement :</h4>
                <label for="">Méthode de paiement</label><br>
                <input type="radio" name="mm"><span class="money-radio">&nbsp;D17</span><br>
                <input type="radio" name="mm"><span class="money-radio">&nbsp;Cash</span><br>
                <br><br>
                <button type="submit" class="sumbmit-btn" >Réserver</button>
                <!-- (click)="genererQRCode()" -->
              </form>    
          </div>
        </div>
        <!-- <div class="qr-code-container">
            <img *ngIf="qrCodeImage" src="{{ qrCodeImage }}" alt="QR Code">
            <span *ngIf="!qrCodeImage && generantQRCode">Chargement du QR code...</span>
          </div>
          <button *ngIf="qrCodeImage" (click)="telechargerQRCode()">Télécharger le QR Code</button> -->
        <br><br>
        <app-footer></app-footer>
        </body>


        

  