<body>
    <app-navbar></app-navbar>
    <br><br>
      <div class="form-box">
          
            <div class="formu">
  
            <h2 class="title-salon text-capitalize">{{event.type}}:&nbsp;&nbsp;<span class="title-NameEvent">{{event.title}}</span> </h2>
            <br>
            <div class="d-flex " style="color: white;">
              <div>
                <p><i class="fa-regular fa-calendar icon-event"></i>{{event.jour_debut}}&nbsp;{{event.mois_debut}}&nbsp;{{event.annee_debut}}</p>
                <p><i class="fa-regular fa-clock icon-event" ></i>{{event.time}}</p>
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <br>
                <div>
                  <p><i class="fa-solid fa-location-dot icon-event"></i>{{event.lieu}}</p>
                  <p><i class="fa-solid fa-sack-dollar icon-event"></i>{{event.prix}}</p>
                </div>
          </div>
          <br>
            <h4 class="title">-Informations personnelles</h4>
<!-- saisir le nom -->
<form  [formGroup]="forminput">
                <label for="nom">Nom<b style="color: #A60707;">*</b></label>
                <input type="text" id="nom" placeholder="  Entrer votre nom"  name="nom" formControlName="nom"  [(ngModel)]="currentUser.firstName">
                
                <div class="warning-div"
                *ngIf="!forminput.pristine && forminput.controls['nom'].errors?.['required']">
                <img src="./../../assets/images/iconmonstr-error-lined-240.png" class="warning-icon">&nbsp; Saisir votre Nom !
               </div>
</form>
<!-- saisir le prenom -->
 <form  [formGroup]="forminput1">
                <label for="prenom">Prenom<b style="color: #A60707;">*</b></label>
                <input type="text" id="prenom" placeholder="  Entrer votre prenom" name="prenom" formControlName="prenom"  [(ngModel)]="currentUser.lastName">

                <div class="warning-div"
                *ngIf="!forminput1.pristine && forminput1.controls['prenom'].errors?.['required']">
                <img src="./../../assets/images/iconmonstr-error-lined-240.png" class="warning-icon">&nbsp; Saisir votre Prenomom !
               </div>
</form>
<!-- saisir l'email -->
<form  [formGroup]="forminput2">
                <label for="email">Email<b style="color: #A60707;">*</b></label>
                <input type="text" id="email" placeholder="  Entrer votre email"  name="email" formControlName="email" formControlName="email"  [(ngModel)]="currentUser.email">

                <div class="warning-div"
                *ngIf="!forminput2.pristine && forminput2.controls['email'].errors?.['required']">
                <img src="./../../assets/images/iconmonstr-error-lined-240.png" class="warning-icon">&nbsp; Saisir votre Email !!
               </div>
               <div class="warning-div"
                *ngIf="!forminput2.pristine && forminput2.controls['email'].errors?.['email']">
                <img src="./../../assets/images/iconmonstr-error-lined-240.png" class="warning-icon">&nbsp; Email incorrect !!
               </div>
</form>
<!-- saisir le telephone -->
<form  [formGroup]="forminput3">
                <label for="tel">Num de téléphone<b style="color: #A60707;">*</b></label>
                <input type="text" id="tel" placeholder="  Entrer votre numero de telephone"  name="test" 
                maxlength="8" [(ngModel)]="currentUser.tel" formControlName="tel" [(ngModel)]="currentUser.tel">
                <div class="warning-div"
                *ngIf="!forminput3.pristine && forminput3.controls['tel'].errors?.['required']">
                <img src="./../../assets/images/iconmonstr-error-lined-240.png" class="warning-icon">&nbsp; Saisir votre Numero !
               </div>
</form>
 <!-- nbr de place -->
<form  [formGroup]="forminput4">
                <h4 class="title">-Informations de réservation</h4>
                <label for="nbr-pkace">Nombre  de places:<b style="color: #A60707;">*</b></label><input type="number" min="0" class="nbrPlace " placeholder="" formControlName="nbr" ><br>
                <div class="warning-div"
                *ngIf="!forminput4.pristine && forminput4.controls['nbr'].errors?.['required']">
                <img src="./../../assets/images/iconmonstr-error-lined-240.png" class="warning-icon">&nbsp; Saisir votre Numero !
               </div>
</form>
                <br>
                <h4 class="title">-Informations supplémentaires</h4>
                <label for="nbr-pkace">Commentaires supplémentaires</label><br>
                <textarea name="comments" id="comments" cols="55" rows="5" class="comments mt-2 " placeholder="   Commentaires supplémentaires..."></textarea>
                
                <br><br>
                <button type="submit" class="sumbmit-btn" (click)="afficheQR()" >Réserver</button>
              
             
          </div>
        </div>
     
        <br><br>
        <app-footer></app-footer>
        </body>


        

  