<body>
  <app-navbar></app-navbar>
  <aside id="sidebar" class="sidebar">
        <div class="text-center ">
        <img src="./../../assets/img/profile-img.jpg" class="pdp">
        <p style="font-size: 18px; font-weight: bold;">Pseudo</p>
    </div>
    <hr>
        <ul class="sidebar-nav" id="sidebar-nav">
  
          <li class="nav-item">
            <a class="nav-link " href="profile">
                <i class="fa-solid fa-user"></i>
              <span>Mon compte</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="UserProfileUpdate">
                <i class="fa-solid fa-pen"></i>
              <span>Modifier le profil</span>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="UserProfileforgotPassword">
                <i class="fa-solid fa-lock"></i>
                <span>Modifier le mot de passe</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="favoris">
                <i class="fa-solid fa-heart"></i>
                <span>Favoris</span>
              </a>
            </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="historiqueReservationn">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <span>Historique des réservations</span>
              </a>
            </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="historiqueLikess">
                <i class="fa-solid fa-thumbs-up"></i>
              <span >Historique des j’aimes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="">
              <i class="fa-solid fa-bell"></i>
              <span >Notifications</span>
            </a>
          </li>
          <br>
      <br>
      <hr>
      <li class="nav-item">
        <a class="nav-link collapsed" href="">
          <i class="fa-solid fa-arrow-right-from-bracket pp"></i>
          <span (click)="logout()">Se déconnecter</span>
        </a>
      </li>
        </ul>
    
      </aside>
      <main id="main" class="main">
        <div class="pagetitle d-flex justify-content-between  ">
         
            <div class="d-flex ">
          <img src="./../../assets/img/profile-img.jpg" class="pdp2">
          <div class="div-P1">
          <h1 style="font-size: 20px;">{{currentUser.username}}</h1> 
          <span>8 publications</span>&nbsp;&nbsp; <span>64 abonnés</span>&nbsp;&nbsp; <span>117 suivi(e)s</span>
        </div>
      </div>
      <div>
        <button class="btn-add"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Publication</button>
      </div>
              
        </div>
        <hr> 
        <section class="section-profile">
<!-- card -->
    <div class="card-grp d-block  ">
      <!-- ligne 1 -->
    <div class="card-grp" >
      <div *ngFor="let post of posts">
            <!-- card1 -->
     <div class="card "   *ngIf="post.id==1">

         <img class="card-img-top" src="./../../../assets/images/Rectangle 13.png" alt="Card image cap img-card">
         <div class="card-body" >   
         <div class="part2-card" >
           <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
         </div>
           <h5 class="title-desc">{{post.title}}</h5>
           <p class="card-text">{{post.mini_body}}</p>
           <div class="btns">
           <button class="btn voirplus-btn">Voir Plus</button>
           <div class="react d-flex">
            <span class="btn-like" (click)="toggleLike1()"><i [class]="likeIconClass1"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
           <div class="dropdown">
            <i class="fa-regular fa-share-from-square btn-share"></i>
            <ul class="dropdown-content">
              <div>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                    <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                    <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
              </div>
            </ul>
          </div>
         </div>
         </div>
         </div>
     </div>
            <!-- card2 -->
            <div class="card"   *ngIf="post.id==4">

              <img class="card-img-top" src="./../../../assets/images/Rectangle 23.png" alt="Card image cap img-card">
              <div class="card-body" >   
              <div class="part2-card" >
                <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
              </div>
                <h5 class="title-desc">{{post.title}}</h5>
                <p class="card-text">{{post.mini_body}}</p>
                <div class="btns">
                <button class="btn voirplus-btn" >Voir Plus</button>
                <div class="react d-flex">
                  <span class="btn-like" (click)="toggleLike2()"><i [class]="likeIconClass2"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                 <div class="dropdown">
                  <i class="fa-regular fa-share-from-square btn-share"></i>
                  <ul class="dropdown-content">
                    <div>
                      <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                          <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                          <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                          <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                    </div>
                  </ul>
                </div>
               </div>
              </div>
              </div>
          </div>
           <!-- card3 -->
           <div class="card"   *ngIf="post.id==3">

            <img class="card-img-top" src="./../../../assets/images/Rectangle 25.png" alt="Card image cap img-card">
            <div class="card-body" >   
            <div class="part2-card" >
              <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
            </div>
              <h5 class="title-desc">{{post.title}}</h5>
              <p class="card-text">{{post.mini_body}}</p>
              <div class="btns">
              <button class="btn voirplus-btn" >Voir Plus</button>
              <div class="react d-flex">
                <span class="btn-like" (click)="toggleLike3()"><i [class]="likeIconClass3"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;

               <div class="dropdown">
                <i class="fa-regular fa-share-from-square btn-share"></i>
                <ul class="dropdown-content">
                  <div>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                        <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                        <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                  </div>
                </ul>
              </div>
             </div>
            </div>
            </div>
        </div>
      </div>
  </div>
  <!-- ligne 2 -->
  <div class="card-grp" >
    <div *ngFor="let post of posts">
          <!-- card1 -->
   <div class="card "   *ngIf="post.id==10">

       <img class="card-img-top" src="./../../../assets/images/Rectangle 13.png" alt="Card image cap img-card">
       <div class="card-body" >   
       <div class="part2-card" >
         <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
       </div>
         <h5 class="title-desc">{{post.title}}</h5>
         <p class="card-text">{{post.mini_body}}</p>
         <div class="btns">
         <button class="btn voirplus-btn">Voir Plus</button>
         <div class="react d-flex">
          <span class="btn-like" (click)="toggleLike1()"><i [class]="likeIconClass1"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
         <div class="dropdown">
          <i class="fa-regular fa-share-from-square btn-share"></i>
          <ul class="dropdown-content">
            <div>
              <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                  <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                  <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                  <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
            </div>
          </ul>
        </div>
       </div>
       </div>
       </div>
   </div>
          <!-- card2 -->
          <div class="card"   *ngIf="post.id==11">

            <img class="card-img-top" src="./../../../assets/images/Rectangle 23.png" alt="Card image cap img-card">
            <div class="card-body" >   
            <div class="part2-card" >
              <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
            </div>
              <h5 class="title-desc">{{post.title}}</h5>
              <p class="card-text">{{post.mini_body}}</p>
              <div class="btns">
              <button class="btn voirplus-btn" >Voir Plus</button>
              <div class="react d-flex">
                <span class="btn-like" (click)="toggleLike2()"><i [class]="likeIconClass2"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
               <div class="dropdown">
                <i class="fa-regular fa-share-from-square btn-share"></i>
                <ul class="dropdown-content">
                  <div>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                        <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                        <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                  </div>
                </ul>
              </div>
             </div>
            </div>
            </div>
        </div>
         <!-- card3 -->
         <div class="card"   *ngIf="post.id==12">

          <img class="card-img-top" src="./../../../assets/images/Rectangle 25.png" alt="Card image cap img-card">
          <div class="card-body" >   
          <div class="part2-card" >
            <pre>{{post.creationDate | date: 'dd/MM/yyyy' }}24/03/2024 | <span class="text-info type">{{post.type}}</span></pre>   
          </div>
            <h5 class="title-desc">{{post.title}}</h5>
            <p class="card-text">{{post.mini_body}}</p>
            <div class="btns">
            <button class="btn voirplus-btn" >Voir Plus</button>
            <div class="react d-flex">
              <span class="btn-like" (click)="toggleLike3()"><i [class]="likeIconClass3"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="dropdown">
              <i class="fa-regular fa-share-from-square btn-share"></i>
              <ul class="dropdown-content">
                <div>
                  <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                      <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                      <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                      <li><a href="https://discord.gg/gK7neb7Y"><i class="fa-brands fa-discord"></i>&nbsp;&nbsp;Discord</a></li>
                </div>
              </ul>
            </div>
           </div>
          </div>
          </div>
      </div>
    </div>
</div>
</div>
<br><br><br>
  </section>
      </main> 
    <!-- <app-footer></app-footer>  -->
</body>
