<body>
    
    <div class="form-box">
        <div class="button-box">
          <div id="btn"> </div>
            <button type="button" class="toggle-btn1" >S'inscrire</button>
            <button type="button" class="toggle-btn2" >Se connecter</button>
          </div>
          <form class="formu" >
              <label for="username">Pseudo</label>
              <input type="text" id="username" placeholder="Entrer votre pseudo"disabled>
              <label for="motDePasse">Mot de passe</label>
              <div>
                <input type="password" id="password" placeholder="Entrer votre mot de passe" disabled/>
                <img src="./../../assets/images/iconmonstr-eye-off-filled-240.png" id="pass-icon" class="pass-icon" disabled/>
              </div>

              <div class="sous-form">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="rememberme"disabled>
                <label class="form-check-label" for="rememberme"disabled>
                  Se souvenir de moi
                </label>
              </div>
              <a href="forgotPassword" >mot de passe oublié ?</a>
            </div>
              <br>
              <button type="submit" class="sumbmit-btn" >Se Connecter</button>
              <br>

               
          </form>
      </div>
      <div class="black-fond">  </div>
      <div class="box1">
        <a href="signin"><img src="./../../assets/imgs/close.png" class="back"></a>
        <img src="./../../assets/images/Group 145.png" class="icon-top1">
        <img src="./../../assets/images/key (2).png" class="mefteh1">
        <h2 class="h21">Créer un nouveau mot de passe</h2>
        <form class="formu1">
        <p class="p1">votre mot de passe doit être différent des mots de passe précédemment utilisé.</p>
       
        <label class="label1" for="email">Nouveau mot de passe </label><br>
       <input type="password" placeholder="Saisir votre Nouveau mot de passe" [(ngModel)]="mp" [ngModelOptions]="{standalone: true}">

       <label class="label2" for="email">Confirmer le mot de passe </label><br>
       <input type="password" placeholder="Confirmer votre mot de passe" [(ngModel)]="cmp" [ngModelOptions]="{standalone: true}">
       <br>
       <button class="sumbmit-btn1" (click)="nextStep()" >Réinitialiser le mot de passe</button>
    </form>
    </div>
      </body>