<body>
    <app-navbar></app-navbar>
    <aside id="sidebar" class="sidebar">
        <div class="text-center ">
            <img src="./../../assets/images/Ellipse 43.png" class="pdp">
        <p>Pseudo</p>
    </div>
    <hr>
        <ul class="sidebar-nav" id="sidebar-nav">
  
          <li class="nav-item">
            <a class="nav-link collapsed" href="profile">
                <i class="fa-solid fa-user"></i>
              <span>Mon compte</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link collapsed" href="UserProfileUpdate">
                <i class="fa-solid fa-pen"></i>
              <span>Modifier le profil</span>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="UserProfileforgotPassword">
                <i class="fa-solid fa-lock"></i>
                <span>Modifier le mot de passe</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="favoris">
                <i class="fa-solid fa-heart"></i>
                <span>Favoris</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="notification">
                <i class="fa-solid fa-bell"></i>
                <span >Notifications</span>
              </a>
            </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="historiqueReservationn">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <span>Historique des réservations</span>
              </a>
            </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="historiqueLikess">
                <i class="fa-solid fa-thumbs-up"></i>
              <span >Historique des j’aimes</span>
            </a>
          </li>
      <br><br><br>  <br> 
      <hr>
      <li class="nav-item">
        <a class="nav-link collapsed" href="">
          <i class="fa-solid fa-arrow-right-from-bracket pp"></i>
          <span (click)="logout()">Se déconnecter</span>
        </a>
      </li>
        </ul>
    
      </aside>
      <main id="main" class="main">
        <section class="section">
<!-- card1 -->
<div class="card">

    <img src="./../../assets/images/Group 145.png" class="icon-top">
    <img src="./../../assets/images/key (2).png" class="mefteh">

    <h3>Modifier le mot de passe</h3>
    <br>

        <form class="formu text-capitalize">
            
    <!-- old password  -->
      <label for="oldPassword">Mot de passe actuel</label>
      <input type="password" id="oldPassword" placeholder="  Entrer votre mot de passe" name="oldPassword">
     <!-- new password  -->
     <label for="newPassword">Nouveau mot de passe </label>
     <input type="password" id="newPassword" placeholder="  Entrer votre mot de passe" name="newPassword">
    <!--conf new password  -->
    <label for="confNewPassword">Confirmer le mot de passe</label>
    <input type="password" id="confNewPassword" placeholder="  Entrer votre mot de passe" name="confNewPassword">
  
    <button (click)="confirmUpdate()" class="modif-btn">Enregistrer</button>
     </form>   

</div>
   
  </section>
      </main> 
    <!-- <app-footer></app-footer>  -->
</body>

<!-- <div class="modal fade" id="updateModal">
    <div class="modal-dialog m-3">
      <div class="modal-content">
        <div class="modal-header m-3">
          <h5 class="modal-title">changer le mot de passe</h5>
        </div>
        <div class="modal-body m-2">
          <p>Êtes-vous sure de vouloir changer le mot de passe ?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary buttonModal" (click)="closeUpdate()">Non</button>
          <button class="btn btn-danger buttonModal" (click)="updateUser()">Oui</button>
        </div>
      </div>
    </div>
  </div> -->