<body>
    <app-navbar></app-navbar>
    <aside id="sidebar" class="sidebar">
        <div class="text-center ">
            <img src="./../../assets/images/Ellipse 43.png" class="pdp">
        <p>Pseudo</p>
    </div>
    <hr>
        <ul class="sidebar-nav" id="sidebar-nav">
  
          <li class="nav-item">
            <a class="nav-link collapsed" href="profile">
                <i class="fa-solid fa-user"></i>
              <span>Mon compte</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link collapsed" href="UserProfileUpdate">
                <i class="fa-solid fa-pen"></i>
              <span>Modifier le profil</span>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="UserProfileforgotPassword">
                <i class="fa-solid fa-lock"></i>
                <span>Modifier le mot de passe</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="favoris">
                <i class="fa-solid fa-heart"></i>
                <span>Favoris</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="notification">
                <i class="fa-solid fa-bell"></i>
                <span >Notifications</span>
              </a>
            </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="historiqueReservationn">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <span>Historique des réservations</span>
              </a>
            </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="historiqueLikess">
                <i class="fa-solid fa-thumbs-up"></i>
              <span >Historique des j’aimes</span>
            </a>
          </li>
      <br><br>
      <hr>
      <li class="nav-item">
        <a class="nav-link collapsed" href="">
          <i class="fa-solid fa-arrow-right-from-bracket pp"></i>
          <span (click)="logout()">Se déconnecter</span>
        </a>
      </li>
        </ul>
    
      </aside>
      <main id="main" class="main">
        <section class="section">
<!-- card1 -->
<div class="card">

    <img src="./../../assets/images/Group 145.png" class="icon-top">
    <img src="./../../assets/images/key (2).png" class="mefteh">

    <h3>Modifier le mot de passe</h3>
    <br>

        <form class="formu text-capitalize">
            
    <!-- old password  -->
    <form  [formGroup]="forminput2">
      <label for="oldPassword">Mot de passe actuel</label>
      <input type="password" id="oldPassword" placeholder="  Entrer votre mot de passe" name="oldPassword"  formControlName="oldP">

      <div class="warning-div"
      *ngIf="!forminput2.pristine && forminput2.controls['oldP'].errors?.['required']">
      <img src="./../../assets/images/alert.png" class="warning-icon">&nbsp; Saisir votre mot de passe !
      </div>
    </form>
     <!-- new password  -->
     <form  [formGroup]="forminput3">
     <label for="newPassword">Nouveau mot de passe </label>
     <input type="password" id="newPassword" placeholder="  Entrer votre mot de passe" name="newPassword"  formControlName="newPassword">

       
     <div class="warning-div"
     *ngIf="!forminput3.pristine && forminput3.controls['newPassword'].errors?.['required']">
     <img src="./../../assets/images/alert.png" class="warning-icon">&nbsp; Saisir votre Mot De Passe !
    </div>
    </form>
    <!--conf new password  -->
    <form  [formGroup]="forminput4">
    <label for="confNewPassword">Confirmer le mot de passe</label>
    <input type="password" id="confNewPassword" placeholder="  Entrer votre mot de passe" name="confNewPassword" formControlName="confPass">
    
    <div class="warning-div"
            *ngIf="!forminput4.pristine && forminput4.controls['confPass'].errors?.['required']">
            <img src="./../../assets/images/alert.png" class="warning-icon">&nbsp;Confirmer votre Mot De Passe !
            </div>
             <div class="warning-div"
            *ngIf="forminput4.controls['confPass'].value !== forminput3.controls['newPassword'].value">
            <img src="./../../assets/images/alert.png" class="warning-icon">&nbsp;Mot De Passe different !
            </div>

          </form>
  
    <button (click)="confirmUpdate()" class="modif-btn">Enregistrer</button>
     </form>   

</div>
   
  </section>
      </main> 
  
</body>

