<body>
    <app-navbar></app-navbar>
    <div class="row" >
        <div class="col-4 part1">
          <img src="./../../assets/images/Rectangle 66.png">
        </div>
        <div class="col-4 part2">
            <h2 class="title">salon : ....</h2>
            <p class="body_event">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam enim odit nesciunt ab minima, voluptates dolor sequi autem repellat. 
                Officia aliquam debitis laboriosam quod veniam corporis iusto cumque deleniti delectus?</p>
                <span class="itemms-event"><i class="fa-regular fa-calendar icon-event"></i>calender</span><br>
                <span class="itemms-event"><i class="fa-regular fa-clock icon-event" ></i>time</span><br>
                <span class="itemms-event"><i class="fa-solid fa-location-dot icon-event"></i>location</span><br>
              <span class="itemms-event"><i class="fa-solid fa-sack-dollar icon-event"></i>money</span><br>
                <button class="reserver-btn" (click)="gotoReservation()">Réserver</button> &nbsp; <button class="calendrier-mail-btn">Ajouter au calendrier</button>
                <div class="box">
                    <div class="box1">
                        <p>Organisateur:</p> 
                        <div class="d-flex ">
                            <img src="./../../assets/images/Screenshot_2024-04-26_214006-removebg-preview (1) 5.png" class="img-p1"> 
                            <img src="./../../assets/images/Screenshot_2024-04-26_214006-removebg-preview (1) 6.png" class="img-p1">
                        </div>   
                    </div>
                    <div class="box2">
                        <p>Les partenaires:</p>   
                        <div >
                            <img src="./../../assets/images/Frame 151.png"><br><br>
                            <img src="./../../assets/images/Frame 152.png">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</body>