<body>
    <br><br><br><br><br><br><br><br>
    
        <div class="form-box">
    
              <div class="formu  ">
                <form >
                    <label for="type">Categorie</label>
                    <input type="text" id="type" placeholder="  Entrer votre Categorie" formControlName="type" name="type" [(ngModel)]="categorie.type" >
      
                  <button type="submit" class="sumbmit-btn" (click)="confirmUpdate()">Ajouter</button>
                  <a href="admincatg" class="btn btn-link retour-btn">Retour</a>
              </form>  
            </div>
          </div>
     <br><br><br><br><br><br><br><br><br><br><br>
    
          </body>
    