<body>
    <app-nav-visiteur></app-nav-visiteur>
    <header>
        <div class="row align-items-center">
            <div class="col-6 first-part" >
            <h1 class="title">Plongez au cœur de <br>l'innovation en participant <br> à nos <span class="marque">événements</span>.</h1>

            </div>
            <div class="col-4 ">
              <img src="./../../assets/images/GroupEvent.png" class="img-top">
              <img src="./../../assets/images/pos5.png" class="img-anim1">
              <img src="./../../assets/images/pos2.png" class="img-anim2">
              <img src="./../../assets/images/pos4.png" class="img-anim3">
          </div>
            <img src="./../../assets/images/arrow-event.png" class="arrow-event"/>  
          </div>
    </header>
  
    <div class="searchDiv">
      <div class="inpt-recherche">
          <!-- button dropdown categorie-->
          <div class="dropdown">
            <button class="dropdown-button"><i class="fa-solid fa-sliders"></i></button>
            <ul class="dropdown-content">
              <div>
                <div>
                 <br>
                  <h5 class="title-filtre">Par Catégories: </h5>
                <button class="btn-filtre">Sécurité</button> <button class="btn-filtre">Développement</button>  <button class="btn-filtre">IoT</button> <button class="btn-filtre">Robotique</button> <button class="btn-filtre">AR/VR</button>
                <button class="btn-filtre">Intelligence Artificielle</button>  <button class="btn-filtre">Blockchain</button>
                
                <h5 class="title-filtre">Par Type: </h5>
                <button class="btn-filtre">Formation</button> <button class="btn-filtre">Salon</button> <button class="btn-filtre">Conférences</button> <button class="btn-filtre">En ligne</button>  <button class="btn-filtre">Hackathon</button>
               
                <h5 class="title-filtre">Par Accès: </h5>
                <input type="checkbox"><span class="check-items">Payant</span> <br>
                <input type="checkbox"><span class="check-items">Non Payant</span>
                
                <h5 class="title-filtre">Par Jour: </h5>
                <input type="checkbox"><span class="check-items">Lundi </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input type="checkbox"><span class="check-items">Vendredi</span><br> 
                <input type="checkbox"><span class="check-items">Mardi </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input type="checkbox"><span class="check-items">Samedi</span><br> 
                <input type="checkbox"><span class="check-items">Mercredi</span>  &nbsp;  <input type="checkbox"><span class="check-items">Dimanche</span><br> 
                <input type="checkbox"><span class="check-items">Jeudi</span>
              </div>
              </div>
          <br>
            </ul>
          </div>
        <input type="text" class="search" placeholder="chercher un événement"/>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;<button class="rechercher-btn"><i class="fa-solid fa-magnifying-glass icon-searsh"></i></button>
    </div>
  
<br>
<div *ngFor="let event of events">
    <span class="type-hr" ><span>{{event.mois_debut}} {{event.annee_debut}}</span> &nbsp;&nbsp;&nbsp;<hr></span>
    <br>
    <div class="row event-card">
        <div class="col-5 img-event">
        <img src="./../../assets/images/eventexmp.png" class="img-event">
        </div>
        <div class="col-4 disc-event">
          <div class="title-part justify-content-between d-flex ">
            <h2 class="title-event-part" >{{event.title}}</h2>
            <h2 class="payant-event-part" >{{event.prix}}DT</h2>
           </div>
            <p class="mini-body-part">{{event.mini_body}} </p>
            <p><i class="fa-regular fa-calendar icon-event"></i>{{event.jour_debut}} &nbsp;{{event.mois_debut}} &nbsp;{{event.annee_debut}}</p>
              <p><i class="fa-regular fa-clock icon-event" ></i>{{event.time}}</p>
              <p><i class="fa-solid fa-location-dot icon-event"></i>{{event.lieu}}</p>
            <button class="reserver-btn" (click)="gotoSignup()">Réserver</button> &nbsp; <button class="calendrier-mail-btn" (click)="gotoSignup()">Ajouter au calendrier</button>
        </div>
      </div>
    </div>
<br><br>
<!-- event plein -->
      <div class="row event-card">
        <div class="col-5 img-event">
        
        <img src="./../../assets/images/Rectangle 43.png" class="img-event">

        </div>
        <div class="col-4 disc-event">
          <div class="title-part justify-content-between d-flex ">
            <h2 class="title-event-part" >Title</h2>
            <h2 class="payant-event-part" >Non payant</h2>
           </div>
            <p class="mini-body-part">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quasi illo obcaecati suscipit  <a href="#" class="text-Voir-plus ">...  Voir plus</a></p>
            <p><i class="fa-regular fa-calendar icon-event"></i>aa</p>
              <p><i class="fa-regular fa-clock icon-event" ></i>aa</p>
              <p><i class="fa-solid fa-location-dot icon-event"></i>aa</p>
            <button class="reserver-btn-disable">Réserver</button> &nbsp; <button class="reserver-btn-disable">Ajouter au calendrier</button>       
        </div>
      </div>
      <app-footer></app-footer>
 </body>