body {
    width: 100%;
    height: auto;
    background-image: url(./../../assets/images/eventFond.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    color: white;
  }

  .card{
    background-color: #00264D;
    border-radius: 30px;
    color: white;
    padding: 50px;
    margin-left: 150px;
    margin-top: 40px;
    width: 490px;
    align-items: left;
  }

  .formu input[type="text"],
  .formu input[type="password"] {
    border: 0;
    background: white;
    display: block;
    margin: 15px 0 7px 0;
    padding: 15px 15px 15px 12px;
    width: 370px;
    height: auto;
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 2px 2px rgba(70, 69, 69, 0.2);
  }
  .form-message{
    border-radius: 10px;
    margin: 15px 0 7px 0;
    padding: 15px 15px 15px 12px;
  }
  .sumbmit-btn{
    background-color: #AC8DF7;
        border-radius: 32px;
        padding: 8px 16px;
        margin-top: 20px;
        color: white;
        margin-left: 270px;
        
  }
  .warning-icon{
    font-size: 20px;
    color: #FF0000;
    margin-right: 5px;
  }
  
  .warning-div{
    margin: 5px 0 5px 0;
    color: #FF0000;
  }

.img-side{
  width: 708px;
  margin-top: 258px;
  margin-left: 22px;
}
.title{
  color: #AC8DF7;
  font-size: 40px;
  font-weight: 700;
}