<body>
    <app-nav-visiteur></app-nav-visiteur>
    <div class="d-flex ">
     <div class="card">
          <h3 class="mb-4 title">Contactez-nous !</h3>
          <div class="formu">
            <form  [formGroup]="forminput">
                  <label for="nom">Nom<b style="color: #FF0000;">*</b></label>
                  <input type="text" id="nom" placeholder="  Entrer votre nom" formControlName="nom" name="nom" [(ngModel)]="newContact.nomUser">
    
                  <div class="warning-div"
                  *ngIf="!forminput.pristine && forminput.controls['nom'].errors?.['required']">
                  &nbsp;<i class="fa-solid fa-exclamation  warning-icon"></i>&nbsp; Saisir votre Nom 
                 </div>
            </form>    
    <!-- saisir le prenom -->
            <form  [formGroup]="forminput1">
                  <label for="prenom">Prenom<b style="color: #FF0000;">*</b></label>
                  <input type="text" id="prenom" formControlName="prenom" placeholder="  Entrer votre prenom" name="prenom"  [(ngModel)]="newContact.prenomUser">
    
                  <div class="warning-div"
                  *ngIf="!forminput1.pristine && forminput1.controls['prenom'].errors?.['required']">
                  &nbsp;<i class="fa-solid fa-exclamation  warning-icon"></i>&nbsp; Saisir votre Prenom 
                 </div>
            </form>
    <!-- saisir l'email -->
            <form  [formGroup]="forminput2">
                  <label for="email">Email<b style="color: #FF0000;">*</b></label>
                  <input type="text" id="email" placeholder="  Entrer votre email" formControlName="email" name="email"  [(ngModel)]="newContact.emailUser">
    
                  <div class="warning-div"
                  *ngIf="!forminput2.pristine && forminput2.controls['email'].errors?.['required']">
                  &nbsp;<i class="fa-solid fa-exclamation  warning-icon"></i>&nbsp; Saisir votre Email 
                 </div>
                 <div class="warning-div"
                  *ngIf="!forminput2.pristine && forminput2.controls['email'].errors?.['email']">
                  &nbsp;<i class="fa-solid fa-exclamation  warning-icon"></i>&nbsp; Email incorrect 
                 </div>
            </form>
        <!-- choisir le objet -->

            <form  [formGroup]="forminput3">
                <label for="objet">Objet<b style="color: #FF0000;">*</b></label>
                <input type="text" id="objet" placeholder="  Entrer votre objet" formControlName="objet" name="objet" [(ngModel)]="newContact.objet">
  
                <div class="warning-div"
                *ngIf="!forminput3.pristine && forminput3.controls['objet'].errors?.['required']">
                &nbsp;<i class="fa-solid fa-exclamation  warning-icon"></i>&nbsp; Saisir votre objet 
               </div>
          </form> 
       
        <!-- choisir le pseudo -->
        <form [formGroup]="forminput5">
                  <label for="message">Message<b style="color: #FF0000;">*</b></label><br>
                  <!-- <input type="text" id="pseudo" placeholder="   Entrer votre pseudo" name="pseudo"  formControlName="pseudo" > -->
                  <textarea name="message" id="message" cols="43" rows="10"  placeholder="   Entrer votre message" formControlName="message" class="form-message" [(ngModel)]="newContact.message"></textarea><br>
                  <div class="warning-div"
                  *ngIf="!forminput5.pristine && forminput5.controls['message'].errors?.['required']">
                  &nbsp;<i class="fa-solid fa-exclamation  warning-icon"></i>&nbsp; Saisir votre Message
                  </div>
    
                  <button type="submit" class="sumbmit-btn" (click)="createContact()" [disabled]="forminput.invalid" [disabled]="forminput1.invalid" [disabled]="forminput2.invalid" [disabled]="forminput3.invalid" [disabled]="forminput5.invalid" >Envoyer</button>
                </form>   
            </div>
     </div>
     <div  class="side-card">
        <img src="./../../assets/images/Asset 3 3.png" class="img-side">
     </div>
     </div>
     <app-footer-visiteur></app-footer-visiteur>
 </body>

