<body>

    <header id="header" class="header fixed-top d-flex align-items-center">
  
      <div class="d-flex align-items-center justify-content-between">
        <a href="accueil" class="logo d-flex align-items-center">
          <img src="./../../assets/images/logo_icone.png" class="logo-icone">
          <span class="d-none d-lg-block">DiscoverIT</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Search" title="Enter search keyword">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
      </div>
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
  
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="adminProfile" >
              <img src="./../../assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
              <span class="d-none d-md-block ps-2">admin</span>
            </a>
        </ul>
      </nav>
    </header>
    <aside id="sidebar" class="sidebar">
  
      <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="adminDashboard">
            <i class="fa-solid fa-chart-line"></i>
            <span>Dashboard</span>
          </a>
        </li>
  
        <li class="nav-heading">Fonctionnalitées</li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="adminUser">
            <i class="fa-solid fa-users"></i>
            <span>User</span>
          </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " href="adminEvent">
              <i class="fa-solid fa-shapes"></i>
              <span>Evenement</span>
            </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link collapsed" href="adminActu">
              <i class="fa-solid fa-file-lines"></i>
              <span>Actualité</span>
            </a>
          </li>
  
        <li class="nav-heading">Profile</li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="adminProfile">
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
          </a>
        </li>
  
        <li class="nav-item">
            <a class="nav-link collapsed" href="messageAdmin">
              <i class="fa-solid fa-envelope"></i>
              <span>Messages</span>
            </a>
          </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="Signin">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span (click)="logout()">Logout</span>
          </a>
        </li>
  
      </ul>
  
    </aside>
    <main id="main" class="main">
  
      <div class="pagetitle">
        <h1>Evenement</h1>
      </div>
      <section class="section profile">
       
            <table class="table table-striped responsive-table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Body</th>
                  <th scope="col">desc</th>
                  <th scope="col">Type</th>
                  <th scope="col">categorie</th>
                  <th scope="col">lieu</th>
                  <th scope="col">time</th>
                  <th scope="col">capacite_max</th>
                  <th scope="col">date_debut</th>
                  <th scope="col">date_fin</th>
                  <th scope="col">prix</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of events">
                  <td>{{event.id}}</td>
                  <td>{{event.title}}</td>
                  <td>{{event.body}}</td>
                  <td>{{event.mini_body}}</td>
                  <td>{{event.type}}</td>
                  <td>{{event.categorie}}</td>
                  <td>{{event.lieu}}</td>
                  <td>{{event.time}}</td>
                  <td>{{event.capacite_max}}</td>
                  <td>{{event.jour_debut}} {{event.mois_debut}}{{event.annee_debut}}</td>
                  <td>{{event.date_fin}}</td>
                  <td>{{event.prix}}</td>
    
                  <td><button class="btn text-light modif-btn" (click)="updateEvent(event.id)">Modifier</button>&nbsp; &nbsp;
                    <button class="btn text-light delete-btn" (click)="confirmDelete(event)">Supprimer</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <a href="createEvent"><button class="btn text-light text-center conf-btn">Ajouter</button> </a>
       
  </section>
    </main>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </body>
