body {
    width: 100%;
    height: auto;
    background-image: url(./../../assets/images/FHome.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    color: white;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .rainbow {
   background-color: transparent;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  h1 {
    font-size: 3em;
    margin: 0;
  }
  
  .super-fun {
    padding: 20px;
    background-color: lightblue;
    border: 5px solid pink;
    border-radius: 10px;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  img {
    width: 200px;
    display: block;
    margin: 0 auto;
  }
  
  .sparkly {
    background-color: rgb(19, 16, 29);
    padding: 10px;
    text-align: center;
    font-style: italic;
  }
  