body {
    width: 100%;
    height: auto;
    background-image: url(./../../assets/images/FHome.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    color: white;
  }
