<body>
    <app-navbar></app-navbar>
    <aside id="sidebar" class="sidebar">
          <div class="text-center ">
          <img src="./../../assets/images/Ellipse 43.png" class="pdp">
          <p style="font-size: 18px; font-weight: 650px;">eya</p>
      </div>
      <hr>
          <ul class="sidebar-nav" id="sidebar-nav">
    
            <li class="nav-item">
              <a class="nav-link collapsed" href="profile">
                  <i class="fa-solid fa-user"></i>
                <span>Mon compte</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="UserProfileUpdate">
                  <i class="fa-solid fa-pen"></i>
                <span>Modifier le profil</span>
              </a>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed" href="UserProfileforgotPassword">
                  <i class="fa-solid fa-lock"></i>
                  <span>Modifier le mot de passe</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="favoris">
                  <i class="fa-solid fa-heart"></i>
                  <span>Favoris</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed" href="notification">
                  <i class="fa-solid fa-bell"></i>
                  <span >Notifications</span>
                </a>
              </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="historiqueReservationn">
                  <i class="fa-solid fa-clock-rotate-left"></i>
                  <span>Historique des réservations</span>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="historiqueLikess">
                  <i class="fa-solid fa-thumbs-up"></i>
                <span >Historique des j’aimes</span>
              </a>
            </li>
            <br>
        <br>
        <hr>
        <li class="nav-item">
          <a class="nav-link collapsed" href="">
            <i class="fa-solid fa-arrow-right-from-bracket pp"></i>
            <span (click)="logout()">Se déconnecter</span>
          </a>
        </li>
          </ul>
      
        </aside>
        <main id="main" class="main">
          <div class="pagetitle">
            
            <h1 style="font-size: 30px;">Favoris</h1> 
                
          </div>
       
          <section class="section-profile">
            <hr> 
         
            <div class="d-flex">
              <div class="col-0" *ngFor="let event of events">
                <div class="card "  *ngIf="event.id === 1">
                  <img src="../../assets/images/event1.jpg" class="card-img-top-event" >
                  <div class="card-body">
                    <div class="d-flex">
                      <h1 class="titre-event">{{event.title}}</h1>
                       <button class="btn-fav" (click)="toggleFav1()"><i [class]="FavIconClass1"></i></button>
                    </div>
                    <p>{{event.mini_body}}</p>
                    <p><i class="fa-regular fa-calendar icon-event"></i>{{event.jour_debut}}&nbsp;{{event.mois_debut}}&nbsp;{{event.annee_debut}}</p>
                    <p><i class="fa-regular fa-clock icon-event" ></i>{{event.time}}</p>
                    <p><i class="fa-solid fa-location-dot icon-event"></i>{{event.lieu}}</p>
                    <div class="d-flex justify-content-between align-items-center ">
                      <div>
                        <button class="reserver-btn" (click)="gotoReservation(event.id)">Réserver</button>&nbsp;&nbsp;<button class="voirplus-btn-event"  (click)="gotoDetailsEvent(event.id)">Voir plus</button> 
                      </div>   
                    <h5 class="payant-prix">{{event.prix}} DT</h5>
                  </div>
                  </div>
                </div>
         
              </div>
              <div class="col-1" *ngFor="let event of events">
                <div class="card "  *ngIf="event.id === 2">
                  <img src="../../assets/images/event1.jpg" class="card-img-top-event" >
                  <div class="card-body">
                    <div class="d-flex">
                      <h1 class="titre-event">{{event.title}}</h1> 
                      <button class="btn-fav" (click)="toggleFav2()"><i [class]="FavIconClass2"></i></button>
                    </div>
                    <p>{{event.mini_body}}</p>
                    <p><i class="fa-regular fa-calendar icon-event"></i>{{event.jour_debut}}&nbsp;{{event.mois_debut}}&nbsp;{{event.annee_debut}}</p>
                    <p><i class="fa-regular fa-clock icon-event" ></i>{{event.time}}</p>
                    <p><i class="fa-solid fa-location-dot icon-event"></i>{{event.lieu}}</p>
                    <div class="d-flex justify-content-between align-items-center ">
                      <div>
                        <button class="reserver-btn" (click)="gotoReservation(event.id)">Réserver</button>&nbsp;&nbsp;<button class="voirplus-btn-event"  (click)="gotoDetailsEvent(event.id)">Voir plus</button> 
                      </div>   
                    <h5 class="payant-prix">{{event.prix}} DT</h5>
                  </div>
                  </div>
                </div>
         
              </div>
            </div>
     
        

  <br><br><br>
    </section>
        </main>  
  </body>
  