<body>
    <br><br>
    <h2 class="big_title">Ajout d'une Actualité</h2>
      <div class="form-box">

              <div class="formu">
          <form >
                <label for="title">Title</label>
                <input type="text" id="title" placeholder="  Entrer votre title"  name="title" [(ngModel)]="newPost.title" >
 
     <label for="body">description</label>
     <input type="text" id="body" placeholder="  Entrer votre body" name="body" [(ngModel)]="newPost.mini_body" >
 
                <label for="body">Body</label>
                <input type="text" id="body" placeholder="  Entrer votre body" name="body" [(ngModel)]="newPost.body" >

                <label for="type">Type</label>
                <input type="text" id="type" placeholder="  Entrer votre type"  name="type" [(ngModel)]="newPost.type" >
  
                <label for="imgpost">image du post</label><br>
                <input type="file" id="imgpost" name="imgpost" >

                <button type="submit" class="sumbmit-btn" (click)="createPost()" >Ajouter</button>
                <a href="adminActu" class="btn btn-link retour-btn">Retour</a>
              </form>    
          </div>
       </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
</body>
  

  