<br><br>
<!-- Footer -->
<footer class="text-center text-lg-start text-light ">
  <img src="./../../assets/images/Vector 9.png" class="ms-5 ">
    <br>
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                DiscoverIT
              </h6>
              <p>
                Est une plateforme dédiée à l'innovation technologique. Explorez les dernières tendances, échangez des idées et réservez vos événements IT dès maintenant
              </p>
              <h6 class="text-uppercase fw-bold mb-4">
                Abonnez-vous
              </h6>
              <div>
               <a href="https://www.facebook.com/"><img src="../../assets/images/fb.png" class="me-3 icon-rs"></a>
               <a href="https://www.instagram.com/"><img src="../../assets/images/insta.png" class="me-3 icon-rs"></a>
               <a href="https://www.linkedin.com/"><img src="../../assets/images/in.png" class="me-3 icon-rs"></a>
               <a href="https://discord.gg/gK7neb7Y"><img src="../../assets/images/dd.png" class="me-3 icon-rs"></a>
              </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-capitalize fw-bold mb-4">
                Liens utiles
              </h6>
              <p>
                <a href="home" class="text-reset text-decoration-none">Accueil</a>
              </p>
              <p>
                <a href="evenement" class="text-reset text-decoration-none">Événement</a>
              </p>
              <p>
                <a href="actualité" class="text-reset text-decoration-none">Actualité</a>
              </p>
              <p>
                <a href="A propos" class="text-reset text-decoration-none">À propos</a>
              </p>
              <p>
                <a href="contactus" class="text-reset text-decoration-none">Contact</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-capitalize fw-bold mb-4">
                Aide
              </h6>
              <p>
                <a href="#!" class="text-reset text-decoration-none">FQA</a>
              </p>
              <p>
                <a href="#!" class="text-reset text-decoration-none">Politique de confidentialité</a>
              </p>
              <p>
                <a href="#!" class="text-reset text-decoration-none">Mention légale</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contacter -nous</h6>
  
              <p><img src="../../assets/images/telephone.png" class="me-3 icon-info">+216 ** ** ** </p>
              <p><img src="../../assets/images/mail.png" class="me-3 icon-info">discoverit.com</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="copyright">
      <hr>
      <div class="pb-4">
      © 2024 Copyright: BeeCoders
      </div>
    </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->