<body>
    <app-navbar></app-navbar>
    <aside id="sidebar" class="sidebar">
          <div class="text-center ">
          <img src="./../../assets/images/Ellipse 43.png" class="pdp">
          <p style="font-size: 18px; font-weight: 650px;">eya</p>
      </div>
      <hr>
          <ul class="sidebar-nav" id="sidebar-nav">
    
            <li class="nav-item">
              <a class="nav-link collapsed" href="profile">
                  <i class="fa-solid fa-user"></i>
                <span>Mon compte</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="UserProfileUpdate">
                  <i class="fa-solid fa-pen"></i>
                <span>Modifier le profil</span>
              </a>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed" href="UserProfileforgotPassword">
                  <i class="fa-solid fa-lock"></i>
                  <span>Modifier le mot de passe</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed" href="favoris">
                  <i class="fa-solid fa-heart"></i>
                  <span>Favoris</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="notification">
                  <i class="fa-solid fa-bell"></i>
                  <span >Notifications</span>
                </a>
              </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="historiqueReservationn">
                  <i class="fa-solid fa-clock-rotate-left"></i>
                  <span>Historique des réservations</span>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="historiqueLikess">
                  <i class="fa-solid fa-thumbs-up"></i>
                <span >Historique des j’aimes</span>
              </a>
            </li>
            
            <br>
        <br>
        <hr>
        <li class="nav-item">
          <a class="nav-link collapsed" href="">
            <i class="fa-solid fa-arrow-right-from-bracket pp"></i>
            <span (click)="logout()">Se déconnecter</span>
          </a>
        </li>
          </ul>
      
        </aside>
        <main id="main" class="main">
            <div class="pagetitle">
            
                <h1 style="font-size: 25px;">Notifications</h1> 
                    
              </div>
          <hr> 
          <section class="section-profile">

         <div class="Acceptation notif-box d-flex">
          <div class="cercle cercle-vert"><i class="fa-solid fa-check icon-item1"></i></div>
          <p><span class="tn">Acceptation : </span>Votre publication a été acceptée par l’administrateur. Elle est maintenant visible par tous.</p>
         </div>

         <div class="follow notif-box d-flex">
             <div class="cercle cercle-bleu"><i class="fa-solid fa-user-plus icon-item2"></i></div>
             <p><span class="tn">Nouveau follower : </span>Pseudo a commencé à vous suivre. </p>

         </div>

         <div class="suppression notif-box d-flex">
          <div class="cercle cercle-rouge"><i class="fa-solid fa-trash icon-item3"></i></div>
          <p><span class="tn">Suppression: </span> Votre publication a été supprimée par l’administrateur.</p>
        </div>
        <div class="Acceptation notif-box d-flex">
          <div class="cercle cercle-vert"><i class="fa-solid fa-check icon-item1"></i></div>
          <p><span class="tn">Acceptation : </span>Votre publication a été acceptée par l’administrateur. Elle est maintenant visible par tous.</p>
         </div>
    </section>
        </main> 
        <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
  </body>
